.postLink {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-6);
  text-decoration: none;
  color: var(--text-inverse);

  @media screen and (min-width: 760px) {
    padding: var(--space-8);
  }

  .tags {
    white-space: nowrap;
  }

  .postMeta {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: var(--space-2);
    font-weight: var(--weight-semibold);
    flex-direction: column;
    margin-bottom: var(--space-2);

    .postTitle {
      font-size: var(--text-lg);
      line-height: 1.15em;
    }

    .pubDate,
    .postDate {
      margin: 0;
      text-transform: uppercase;
      font-size: var(--text-sm);
      font-weight: var(--weight-regular);
    }
  }

  .postDescription {
    margin: 0;
  }
}
