.postLink {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-6);
  text-decoration: none;
  background-image: var(--rainbow-gradient);
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--surface-2);
  background-size: 100% 6px;
  border: 1px solid var(--border-1);
  border-radius: var(--radius-2);
  transition: background-color color 0.3s ease-in-out;

  @media screen and (min-width: 760px) {
    padding: var(--space-8);
  }

  &:hover {
    background-color: var(--surface-2-inverse);
    color: light-dark(var(--color-neutral-50), var(--color-neutral-900));

    .tag {
      background-color: light-dark(var(--color-neutral-50), var(--color-accent-700));
    }
  }

  .tags {
    white-space: nowrap;
  }

  .postMeta {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: var(--space-2);
    font-weight: var(--weight-semibold);
    flex-direction: column;
    margin-bottom: var(--space-2);

    .postTitle {
      font-size: var(--text-lg);
      line-height: 1.15em;
    }

    .pubDate,
    .postDate {
      margin: 0;
      text-transform: uppercase;
      font-size: var(--text-sm);
      font-weight: var(--weight-regular);
    }
  }

  .postDescription {
    margin: 0;
  }
}
