.postList {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: var(--space-4);
  max-width: var(--content-max);

  @media screen and (min-width: 760px) {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-8);
  }

  .postItem {
    display: flex;


    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      background-image: var(--rainbow-gradient-alt);
      background-size: 100% 12px;
      border-radius: var(--radius-2);
    }
  }
}
