.postList {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: var(--space-4);
  max-width: var(--content-max);

  @media screen and (min-width: 760px) {
    grid-template-columns: 1fr 1fr;
    gap: var(--space-8);
  }

  .postItem {
    background-image: var(--rainbow-gradient);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--surface-1-inverse);
    transition: background-size 0.3s ease-in-out;
    background-size: 100% 6px;
    border-radius: var(--radius-2);

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
      background-image: var(--rainbow-gradient-alt);
      background-size: 100% 12px;
      border-radius: var(--radius-2);
    }
  }

  .postLink {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-6);
    text-decoration: none;
    color: var(--text-inverse);

    @media screen and (min-width: 760px) {
      padding: var(--space-8);
    }
  }

  .postMeta {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: var(--space-2);
    font-weight: var(--weight-semibold);
    flex-direction: column;
    margin-bottom: var(--space-2);

    .postTitle {
      font-size: var(--text-lg);
      line-height: 1.15em;
    }

    .pubDate,
    .postDate {
      margin: 0;
      text-transform: uppercase;
      font-size: var(--text-sm);
      font-weight: var(--weight-regular);
    }
  }

  .postDescription {
    margin: 0;
  }
}
