.blogPost {
  margin: 0 auto;
  max-width: calc(720px - 48px);
  width: calc(100% - 48px);
  padding: 24px;
  box-sizing: border-box;
}

.blogPost pre {
  overflow-x: scroll;
  max-width: 100%;
  display: block;
}

.blogPost pre div {
  border-radius: 4px;
}


.blogPost .title {
  font-weight: 500;
  font-size: 1.75rem;
  font-family: var(--font-lato);
  padding: 2px 12px;
  border-radius: 4px;
}

.blogPost .link {
  color: inherit;
  text-decoration: underline;
}
