.homePage {
  header {
    position: relative;
  }

  .bannerBlockquote {
    max-width: 760px;
    margin: 0 auto;
    display: grid;

    p {
      font-size: var(--text-3xl);
      line-height: 1.75em;
      font-weight: var(--weight-regular);
      text-align: center;

      svg {
        display: inline-block;
        vertical-align: text-top;
        font-size: var(--text-xl);

        &:first-of-type {
          padding-right: var(--space-2);
        }

        &:last-of-type {
          padding-left: var(--space-2);
        }
      }
    }

    p + p {
      font-size: var(--text-xl);
      text-align: center;
      font-weight: var(--weight-regular);
    }
  }
}
.welcomeSection,
.connectSection,
.postListSection{
  margin: var(--space-2) 0;
  padding: var(--space-2);

  @media all and (min-width: 760px) {
    margin: var(--space-6) 0 var(--space-8);
    padding: 0 var(--space-6);
  }

  h2 {
    text-align: center;
    text-transform: uppercase;;
  }
}
