.page {

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  font-family: var(--font-lato);
  flex-direction: column;

  .header {
    margin: 0 auto;
    font-weight: 900;
  }

  .page-title {
    font-weight: 500;
    font-size: 1.75rem;
    font-family: var(--font-lato);
    padding: 2px 12px;
    border-radius: 4px;
  }
}

.content {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
  padding: 24px;
}


@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #fafafa;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --background: #fafafa;
    --foreground: #fff;

    --text-primary: #000;
    --text-secondary: #666;

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
    --button-secondary-border: #ebebeb;
  }
}
