.page {
  display: flex;
  min-height: 100vh;
  font-family: var(--font-lato);
  flex-direction: column;
  gap: 0 var(--space-6);
  padding-top: var(--space-4);
  max-width: var(--content-lg);
  margin: 0 auto;

  .header {
    margin: 0 auto;
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    padding-right: var(--space-2);
    padding-left: var(--space-2);
  }

  .page-title {
    position: relative;
    display: block;
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      top: calc(50% + 2px);
      left: 0;
      border-top: 2px solid var(--border-1);
    }

    span {
      position: relative;
      display: inline-block;
      padding: var(--space-4);
      background: var(--surface-1);
      font-size: var(--text-md);
      font-weight: var(--font-weight-black);
      font-family: Lato, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;
      left: 50%;
      transform: translateX(calc(-50% - 1rem));
      color: var(--text-1);
    }

    svg {
      display: inline-block;
      color: var(--accent-2);
      font-size: var(--text-lg);
      position: absolute;
      background: inherit;
      padding: 0 var(--space-4) 0 var(--space-2);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.content {
  margin: 0 auto;
  width: 100%;
  padding: var(--space-6) 0;
  overflow-x: hidden;
}
