.page {
  display: flex;
  min-height: 100vh;
  font-family: var(--font-lato);
  flex-direction: column;
  gap: 0 var(--space-6);
  padding-top: 0;

  .header {
    margin: 0 auto;
    font-weight: var(--weight-black);
  }

  .page-title {
    font-weight: var(--weight-semibold);
    font-size: var(--text-2xl);
    font-family: var(--font-lato);
    padding: 0 var(--space-1) var(--space-4);
    border-radius: var(--radius-2);
    color: var(--text-1);
    margin: 0;
    // background: var(--surface-2);
    // border: 1px solid var(--border-1);
    // box-shadow: var(--shadow-1);
  }
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: var(--content-max);
  padding: var(--space-6);
  overflow-x: hidden;
  // background: var(--surface-2);
  // border-radius: var(--radius-3);
  // border: 1px solid var(--border-1);
  // box-shadow: var(--shadow-1);
}
