:root {
  font-family: var(--font-lato), Helvetica, Arial, sans-serif;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(#222, rgba(255, 255, 255, 0.87));
  background-color: light-dark(#fff, #242424);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

html,
.body {
  max-width: 100vw;
  overflow-x: hidden;
}

.body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1.25rem;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fff;
    background-color: #213547;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
