:root {
  --text-light: hsl(0, 0%, 13%);
  --text-dark: #efefef;

  --border-primary: hsl(168.91deg 56.1% 27.84%);
  --color-primary: hsl(168.91deg 56.1% 67.84%);
  --background-light: #fafafa;
  --background-dark: #242424;

  font-family: var(--font-lato), Helvetica, Arial, sans-serif;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: light-dark(var(--text-light), var(--text-dark));
  background-color: light-dark(var(--background-light), var(--background-dark));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

html,
.body {
  max-width: 100%;
  overflow-x: hidden;
}

.body {
  color: var(--background-light);
  background: var(--background-dark);
  font-family: var(--font-lato);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body a {
  color: inherit;
  text-decoration: none;
}

.main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
