.site-header {
  display: grid;
  justify-items: center;
  row-gap: var(--space-4);
  margin: 0 auto var(--space-6);
  max-width: var(--content-lg);
}

.site-title {
  text-align: center;
  margin: 0 auto var(--space-2);
  padding: 0;
}

.site-title a .avatar {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto var(--space-2);
  padding: 0;
  border-radius: var(--radius-round);
  border: 2px solid var(--color-accent-500);
  background-color: var(--color-accent-100);
}

.site-title a {
  display: block;
  padding: 0;
  // margin: 0 0 var(--space-2);
  font-family: var(--font-oswald);
  font-size: var(--text-3xl);
  text-decoration: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--text-1);

  &:hover {
    span {
      color: var(--color-accent-500);
    }
  }

  span {
    display: block;
    padding: 0 var(--space-4);
    margin: 0;
    border-radius: var(--radius-2);
    border: 1px solid transparent;
    font-size: var(--text-3xl);
  }


  p {
    line-height: 1;
    padding: 0 0 var(--space-2);
    margin: 0 0 var(--space-2) 0;
    text-transform: none;
    font-weight: var(--weight-regular);
    font-family: var(--font-lato);
    color: var(--text-2);
    font-style: italic;
    font-size: var(--text-lg);
  }
}
