.site-header {
  display: grid;
  justify-items: center;
  row-gap: var(--space-4);
  margin-bottom: var(--space-6);
}

.site-title {
  text-align: center;
  margin: 0 auto var(--space-2);
  padding: 0;
}

.site-title a .avatar {
  display: block;
  width: 100%;
  height: auto;
  max-height: 120px;
  max-width: 120px;
  margin: 0 auto;
  padding: 0;
  border-radius: var(--radius-round);
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-2);
  background-color: var(--accent-1);
}

.site-title a {
  display: block;
  padding: 0;
  margin: 10px 0;
  font-family: var(--font-oswald);
  font-size: var(--text-3xl);
  text-decoration: none;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--text-1);

  &:hover {
    span {
      color: var(--color-neutral-900);
      background-color: var(--accent-1);
      border: 1px solid transparent;
    }

    img {
      border-color: var(--accent-3);
    }
  }

  span {
    display: block;
    padding: 0 var(--space-4);
    margin: var(--space-2) 0;
    border-radius: var(--radius-2);
    border: 1px solid transparent;
  }


  p {
    padding: 0;
    line-height: 1;
    margin: 0;
    text-transform: none;
    font-weight: var(--weight-regular);
    font-family: var(--font-lato);
    color: var(--text-2);
    font-style: italic;
    font-size: var(--text-lg);
  }
}
