.site-header {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.site-title {
  text-align: center;
  margin: 0 auto 8px;
  padding: 0;
}

.site-title a .avatar {
  display: block;
  width: 100%;
  height: auto;
  max-height: 150px;
  max-width: 150px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-primary);
  background-color: var(--color-primary);
}

.site-title a {
  display: block;
  padding: 0;
  margin: 10px 0;
  font-family: var(--font-oswald);
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: light-dark(var(--text-light), var(--text-dark));

  &:hover {
    span {
      color: var(--text-light);
      background-color: var(--color-primary);
      border: 1px solid transparent;
    }

    img {
      border-color: var(--border-primary);
    }
  }

  span {
    display: block;
    padding: 4px 12px;
    margin: .5rem 0;
    border-radius: 4px;
    border: 1px solid transparent;
  }


  p {
    padding: 0;
    line-height: 1;
    margin: 0;
    text-transform: none;
    font-weight: 400;
    font-family: "Lato", sans-serif;
    color: light-dark(var(--text-light), var(--text-dark));
    font-style: italic;
    font-size: 1.25rem;
  }
}
