.site-nav {
  display: block;
}

.site-nav ul {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: var(--space-1);
  margin: var(--space-5) auto;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 760px) {
    column-gap: var(--space-7);
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    padding: var(--space-2) var(--space-4);
    line-height: 1;
    border-radius: var(--radius-2);
    font-size: var(--text-lg);
    font-family: var(--font-lato);
    font-weight: var(--weight-bold);
    color: var(--text-2);
    text-decoration: none;
    border: 1px solid transparent;

    &[aria-current="page"] {
      color: var(--color-neutral-900);
      border: 2px solid var(--color-accent-500);
      background-color: var(--color-accent-100);

      &:hover {
        color: var(--color-neutral-900);
        border: 2px solid var(--color-accent-500);
        background-color: var(--color-accent-100);
      }
    }

    &:hover {
      color: var(--text-1);
      border: 2px solid var(--color-accent-500);
    }
  }
}
