.site-nav {
  display: block;
}

.site-nav ul {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    padding: 4px 12px;
    line-height: 1;
    border-radius: 4px;
    font-size: 1.325rem;
    font-family: var(--font-lato);
    font-weight: 400;
    color: light-dark(hsl(0, 0%, 12%), #efefef);
    border: 1px solid transparent;
    text-decoration: none;

    &[aria-current="page"] {
      color: var(--text-light);
      border-width: 1px;
      border-style: solid;
      border-color: var(--border-primary);
      background-color: var(--color-primary);

      &:hover,
      &:focus,
      &:active,
      &:focus-visible {
        color: var(--text-light);
        border: 1px solid transparent;
      }
    }

    &:hover {
      color: light-dark(var(--text-light), var(--text-dark));
      border-color: light-dark(#003320, #efefef);
    }

    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
      border-color: transparent;
    }
  }


}
