.site-nav {
  display: block;
}

.site-nav ul {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  margin: 1rem auto;
  padding: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .nav-link {
    padding: 4px 12px;
    line-height: 1;
    border-radius: 4px;
    font-size: 1.325rem;
    font-family: var(--font-lato);
    text-transform: uppercase;
    font-weight: 400;
    color: light-dark(hsl(0, 0%, 12%), #efefef);
    border: 1px solid transparent;
    text-decoration: none;

    &[aria-current="page"] {
      font-weight: 600;
      color: hsl(0, 0%, 0%);
      border-width: 1px;
      border-style: solid;
      border-color: hsl(168.91deg 56.1% 27.84%);
      background-color: hsl(168.91deg 56.1% 67.84%);

      &:hover {
        color: #222;
      }
    }

    &:hover {
      color: light-dark(hsl(0, 0%, 13%), #efefef);
      border-color: light-dark(var(--lightningcss-light, #003320) var(--lightningcss-dark, #3dffb8d9));
    }

    &:focus,
    &:active,
    &:focus-visible {
      outline: none;
      border-color: transparent;
    }
  }


}
