.tag {
  display: inline-block;
  font-size: var(--text-xs);
  padding: 0 var(--space-1);
  margin: var(--space-1) var(--space-1) 0;
  border-radius: var(--radius-1);
  background-color: light-dark(var(--color-neutral-700), var(--color-neutral-700));
  color: var(--text-light);
  font-weight: var(--weight-semibold);

  @media screen and (min-width: 760px) {
    margin: var(--space-1);
    padding: 0 var(--space-1);
  }
}
