.tag {
  display: inline-block;
  border-radius: var(--radius-1);
  padding: 2px 8px;
  color: hsl(0 0% 96%);
  background-color: light-dark(var(--color-neutral-900), var(--color-neutral-700));
  font-weight: var(--weight-semibold);
  margin: 0 0.75rem 0 0;
}
