.tag {
  display: inline-block;
  font-size: var(--text-xs);
  padding: 0 var(--space-1);
  margin: var(--space-1) var(--space-1) 0;
  border-radius: var(--radius-1);
  background-color: var(--surface-2-inverse);
  color: light-dark(var(--text-inverse), var(--color-neutral-900));
  font-weight: var(--weight-bold);

  @media screen and (min-width: 760px) {
    font-size: var(--text-sm);
    margin: var(--space-1);
    padding: 0 var(--space-2);
  }
}
