.tag {
  display: inline-block;
  border-radius: var(--radius-2);
  padding: 0 4px;
  background-color: var(--surface-1);
  color: var(--text-1);
  border: 2px solid var(--color-accent-400);
  font-weight: var(--weight-bold);
  margin: 0 0.25rem 0 0;
}
