.tag {
  display: inline-block;
  border-radius: var(--radius-1);
  padding: 0.25rem var(--space-2);
  color: hsl(0 0% 96%);
  background-color: light-dark(var(--color-neutral-900), var(--color-neutral-700));
  font-weight: var(--weight-semibold);
  margin: var(--space-2) var(--space-1) var(--space-2);

  @media screen and (min-width: 760px) {
    margin: var(--space-3) var(--space-2) var(--space-3);
  }
}
