.tag {
  display: inline-block;
  border-radius: var(--radius-2);
  padding: 0 4px;
  background-color: light-dark(var(--color-neutral-900), var(--color-accent-100));
  color: var(--text-inverse);
  border: 1px solid var(--color-accent-500);
  font-weight: var(--weight-black);
  margin: 0 0.25rem 0 0;
}
