.resumeContent {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: var(--content-lg);
  margin: 0 auto;
}

.experienceSection {
  display: grid;
  gap: 1.5rem;

  h4 {
    font-size: var(--text-xl);
    font-weight: var(--weight-black);
    text-transform: uppercase;
    margin: var(--space-8) 0 0;
  }

  h5 {
    font-size: var(--text-lg);
    font-weight: var(--text-2);
  }

  h6 {
    font-size: var(--text-2);
    font-weight: var(--weight-regular);
  }
}

.sectionHeader {
  h3 {
    line-height: 1;
    font-weight: var(--weight-regular);
    color: var(--text-2);
    font-size: var(--text-lg);
    letter-spacing: 1.5px;
    font-size: var(--text-lg);
    text-transform: uppercase;
    margin: 0;
  }
}

.sectionContent {
  h5, h6 {
    margin: 0;
  }

  .honorsSection h5 {
    margin: 0;
    padding: 0;
    font-size: var(--text-1);
    text-transform: uppercase;
    font-weight: var(--weight-black);
  }

  ul {
    padding-left: var(--space-3);
    list-style-type: none;

    &.honorsList {
      margin-top: var(--space-1);
      padding-left: var(--space-2);

      li {
        display: block;
        font-weight: var(--weight-bold);
        font-size: var(--text-sm);
        list-style-type: none;

        span:last-of-type {
          display: block;
          font-weight: var(--weight-regular);
          margin-bottom: var(--space-4);
          margin-left: 1.5rem;
        }

        &::before {
          display: none;
        }

        svg {
          color: var(--color-orange-bg);
          margin-right: var(--space-1);
          line-height: inherit;
          vertical-align: bottom;;
        }
      }
    }

    li {
      display: flex;
      align-items: start;
      margin-bottom: var(--space-1);
      line-height: 1.25em;
      font-size: var(--text-lg);
      font-weight: var(--weight-regular);

      &::before {
        display: inline-block;
        content: "•";
        width: var(--space-4);
        height: var(--space-4);
        color: var(--color-accent-500);
        margin-right: var(--space-2);
      }
    }
  }
}

.educationSection {
  display: grid;
  gap: var(--space-1)
}

.skillsSection {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1.5rem;
  padding: var(--space-2) var(--space-4);
  background-color: var(--surface-3);
  border-radius: var(--radius-3);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  h3 {
    text-align: center;
  }
}
